/* ------- fly in from top----------*/


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title-box {
  animation: slideDown 0.6s cubic-bezier(0.25, 1.5, 0.5, 1) forwards;
  animation-delay: 0.4s;
  opacity: 0;
}

.history {
  animation: slideDown 0.6s cubic-bezier(0.25, 1.5, 0.5, 1) forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

.calculator {
  animation: slideDown 0.6s cubic-bezier(0.25, 1.5, 0.5, 1) forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

.formula-box {
  animation: slideDown 0.6s cubic-bezier(0.25, 1.5, 0.5, 1) forwards;
  animation-delay: 1s;
  opacity: 0;
}

.slide-out {
  animation: slideOutRight 0.5s ease forwards;
}


