body {
    background: #87CEEB;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: Comic Sans MS, cursive;
  
}

.calculator {
    background: #ffcc00;
    padding: 20px;
    border-radius: 25px;
    box-shadow:  8px 8px 0px #333;
    border: 4px solid black;
}


#display {
    background: white;
    height: 50px;
    margin-bottom: 15px;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    border-radius: 15px;
    border: 3px solid black;
}


button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    border-radius: 50%;
    border: 3px solid black;
    cursor: pointer;
}


button:hover {
    transform: scale(1.1);
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

.container-formula {
  display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   flex: 1;
   margin-top: 1100px;
}

h1 {
    margin-bottom: 20px;
    font-family: Comic Sans MS, cursive;
    font-size: 32px;
    color: #ffcc00;
    text-shadow: 2px 2px 0px black;
}

.formula-box {
  margin-top: 30px;
  background: white;
  padding: 15px 25px;
  border-radius: 20px;
  border: 3px solid black;
  box-shadow: 5px 5px 0px #333;
  text-align: left;
}

.formula-box h2 {
  margin-bottom: 10px;
}

.formula-box ul {
  list-style: none;
  padding: 0;
}

.formula-box li {
  margin: 5px 0;
  font-size: 18px;
}

.title-box {
  margin-bottom: 25px;
  background: white;
  padding: 15px 30px;
  border-radius: 25px;
  border: 4px solid black;
  box-shadow: 6px 6px 0px #333;
  text-align: center;
}

.title-box h1 {
  margin: 0;
  font-size: 28px;
}

/* ------- fly in from top----------*/


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title-box {
  animation: slideDown 0.6s cubic-bezier(0.25, 1.5, 0.5, 1) forwards;
  animation-delay: 0.4s;
  opacity: 0;
}

.history {
  animation: slideDown 0.6s cubic-bezier(0.25, 1.5, 0.5, 1) forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

.calculator {
  animation: slideDown 0.6s cubic-bezier(0.25, 1.5, 0.5, 1) forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

.formula-box {
  animation: slideDown 0.6s cubic-bezier(0.25, 1.5, 0.5, 1) forwards;
  animation-delay: 1s;
  opacity: 0;
}


/* ------- fly out/in when press reset----------*/


@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(300px);
    opacity: 0;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out {
  animation: slideOutRight 0.5s ease forwards;
}

/* ------- Display on top calculator ----------*/

.history {
  background: white;
    height: 105px;
    width: 100%;
    margin-bottom: 15px;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    border-radius: 15px;
    border: 3px solid black;
}




